.habbo-chrome-view {
    position: absolute;
    inset: 0;
    display: block;
    overflow: hidden;
    pointer-events: none;

    .habbo-chrome-node {
        display: block;

        > .habbo-skin-view {
            display: block;
            width: 100%;
            height: 100%;
            image-rendering: pixelated;
        }
    }
}
